---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
import { Image } from 'astro:assets'
import dogePicture from '/src/assets/wow-doge.png'
import heroLogo from '/src/assets/NatureTattoo.png'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">
      Such Wow, Much Adventures
      <Image
        src={dogePicture}
        alt="meme"
        align="right"
        width="80"
        height="80"
        onContextMenu="return false;"
      />
    </h1>
    <p class="intro-paragraph" px-4>
      A personal page where I invite you to reminisce with me such enjoyable
      adventures out in the world.
    </p>
    <p>
      <Image
        src={heroLogo}
        alt="Hero Image"
        style="filter: drop-shadow(1px 1px 50px);"
        onContextMenu="return false;"
      />
    </p>
    <hr class="hr-line" />
    <p class="flex gap-x-4 gap-y-2 justify-center">
      Find me on
      {
        siteConfig.socialLinks.map((link) => (
          <a aria-label={link.text} href={link.href} target="_blank">
            <i class:list={[link.icon]} />
          </a>
        ))
      }
    </p>
  </article>
</BaseLayout>
